<dl>
    <dt class="margin">Theme/Concept</dt>
        <dd>
            &nbsp&nbsp&nbsp Contestants should come up with a unique and original idea of a mobil
            e application using the API for Location Based Services from Intel. The targeted 
            platforms are Android and iOS. Developers will be
            using the following Rest API: 
            <a href="http://software.intel.com/en-us/articles/cloud-services-location-service-rest-api-reference">http://software.intel.com/en-us/articles/cloud-services-location-service-rest-api-reference.</a>
        </dd>
        <dd>
            &nbsp&nbsp&nbsp Contestants can experiment with the API and find all the details
            they need here: <a href="http://software.intel.com/cloudservicesplatform/service/location-based-services">http://software.intel.com/cloudservicesplatform/service/location-based-services.</a>
        </dd>
        <dd>
            &nbsp&nbsp&nbsp Registration to use the API is done here: <a href="http://software.intel.com/cloudservicesplatform/service/location-based-services">http://software.intel.com/cloudservicesplatform/service/location-based-services.</a>
        </dd>
    <dt class="margin">Teams have the right to participate with only one application.</dt>
    <dt class="margin">After registration, contestants guarantee the originality of the application they create, with the possibility of using open source frameworks.</dt>
    <dt class="margin">Contestants have all rights on the applications they create and their code will not be submitted or handed over at the final stage.</dt>
</dl>