@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container_12 contactContainer">
    <div class="grid_4 asaff" style="background-position:right">
        <div class="membru">
            <h4>Find us at:</h4>
            <ul>
                <li>Splaiul Independentei, 313, București 060042</li>
                <li>E-mail: smartintern@asaff.ro</li>
            </ul>
        </div>
    </div>
    <div class="grid_8"><div class="poza"><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ro/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=ASAFF,+Bucharest&amp;aq=0&amp;oq=Asaff&amp;sll=44.432163,26.104976&amp;sspn=0.010864,0.026157&amp;ie=UTF8&amp;hq=ASAFF,&amp;hnear=Bucharest&amp;t=m&amp;ll=44.440337,26.048498&amp;spn=0.021448,0.036478&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ro/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=ASAFF,+Bucharest&amp;aq=0&amp;oq=Asaff&amp;sll=44.432163,26.104976&amp;sspn=0.010864,0.026157&amp;ie=UTF8&amp;hq=ASAFF,&amp;hnear=Bucharest&amp;t=m&amp;ll=44.440337,26.048498&amp;spn=0.021448,0.036478&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small></div></div>
    <div class="clear"></div>
    <div class="grid_4 ">
        <div class="membru">
            <h4>Catalin Voicu</h4>
            <ul>
                <li>Coordinator SmarTIntern</li>
                <li>Tel.: 0720936135</li>
                <li>E-mail: catalin.voicu@asaff.ro</li>
            </ul>
        </div>
    </div>
    <div class="grid_4 ">
        <div class="membru">
            <h4>Diana Popescu</h4>
            <ul>
                <li>Chairman ASAFF</li>
                <li>Tel.: 0743164097</li>
                <li>E-mail: diana.popescu@asaff.ro</li>
            </ul>
        </div>
    </div>
    <div class="grid_4 membru">
        <div class="membru">
            <h4>Smaranda Cosurba</h4>
            <ul>
                <li>PR Manager</li>
                <li>Tel.: 0744113086</li>
                <li>E-mail: smara.cosurba@asaff.ro</li>
            </ul>
        </div>
    </div>
    
</div>
