<div class="container_12 footerContainer" >
    
    <div class="pic right cross"></div>
    <div class="pic right hipo"></div>
    <div class="pic right presa"></div>
    <div class="pic right">
        <h2>General partners:</h2>
    </div>
    <div class="pic left">
        <h2>Main Partner:</h2>
    </div>
    <div class="pic left telmap"><a href="http://global.telmap.com/"></a></div>
    
    <div class="pic right asaff"><a href="https://www.facebook.com/pages/ASAFF/53544058745?fref=ts"></a></div>
    <div class="pic right">
        <h2>Organized By:</h2>
    </div>
    
</div>
<div class="clear"></div> 

<div class="infoAsaff right">
    <p>Copyright © ASAFF 2013 - All Rights Reserved</p>
</div>

