@{
    ViewBag.Title = "Judges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container_12">
    <div style="margin:100px 0; text-align:center;">
        <h2>Judges cooming soon...</h2>
    </div>
</div>