@{
    ViewBag.Title = "Limit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="width:300px; margin:0 auto; text-align:center; padding:190px 0;">Maximum number of team members reached!</h1>
