@{
    ViewBag.Title = "Rules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container_12 rulesContainer">
    <div class="grid_3 rulesMenu" >
        <ul>
            <li class="subMenu" id="1">@*@Html.ActionLink("Target", "Target", "Home")*@<span>Target</span></li>
            <li class="subMenu" id="2">@*@Html.ActionLink("Teams", "Teams", "Home")*@<span>Teams</span></li>
            <li class="subMenu" id="3">@*@Html.ActionLink("Apps", "Apps", "Home")*@<span>Apps</span></li>
            <li class="subMenu" id="4">@*@Html.ActionLink("Submissions", "Submissions", "Home")*@<span>Submissions</span></li>
            <li class="subMenu" id="5">@*@Html.ActionLink("Judging criteria", "JudgingCriteria", "Home"*@<span>Judging</span></li>
            <li class="subMenu" id="6">@*@Html.ActionLink("Prizes", "Prizes", "Home")*@<span>Prizes</span></li>
            <li class="subMenu" id="7">@*@Html.ActionLink("Disclaimer", "Disclaimer", "Home"*@<span>Disclaimer</span></li>
        </ul>
    </div>
    <div class="grid_9">
        <div class="rulesContent " id="displayRules">
        </div>
    </div>
</div>
@section footer {
   <script type="text/javascript">
       $.ajax({
           type: "GET",
           url: '/Home/Target',
           data: {},
           success: function (data) {
               $('#displayRules').html(data);
               $('#1').css("background-color", "black");
           }
       });
       $("#1").click(function () {
           $.ajax({
               type: "GET",
               url: '/Home/Target',
               data: {},
               success: function (data) {
                   $('#displayRules').html(data);
                   $('#1').css("background-color", "black");
                   $('#2, #3, #4, #5, #6, #7').css("background-color", "#6E3662");
               }
           });
       });

       $("#2").click(function () {
           $.ajax({
               type: "GET",
               url: '/Home/Teams',
               data: {},
               success: function (data) {
                   $('#displayRules').html(data);
                   $('#2').css("background-color", "black");
                   $('#1, #3, #4, #5, #6, #7').css("background-color", "#6E3662");
               }
           });
       });

       $("#3").click(function () {
           $.ajax({
               type: "GET",
               url: '/Home/Apps',
               data: {},
               success: function (data) {
                   $('#displayRules').html(data);
                   $('#3').css("background-color", "black");
                   $('#1, #2, #4, #5, #6, #7').css("background-color", "#6E3662");
               }
           });
       });

       $("#4").click(function () {
           $.ajax({
               type: "GET",
               url: '/Home/Submissions',
               data: {},
               success: function (data) {
                   $('#displayRules').html(data);
                   $('#4').css("background-color", "black");
                   $('#1, #2, #3, #5, #6, #7').css("background-color", "#6E3662");
               }
           });
       });

       $("#5").click(function () {
           $.ajax({
               type: "GET",
               url: '/Home/JudgingCriteria',
               data: {},
               success: function (data) {
                   $('#displayRules').html(data);
                   $('#5').css("background-color", "black");
                   $('#1, #2, #3, #4, #6, #7').css("background-color", "#6E3662");
               }
           });
       });

       $("#6").click(function () {
           $.ajax({
               type: "GET",
               url: '/Home/Prizes',
               data: {},
               success: function (data) {
                   $('#displayRules').html(data);
                   $('#6').css("background-color", "black");
                   $('#1, #2, #3, #4, #5, #7').css("background-color", "#6E3662");
               }
           });
       });

       $("#7").click(function () {
           $.ajax({
               type: "GET",
               url: '/Home/Disclaimer',
               data: {},
               success: function (data) {
                   $('#displayRules').html(data);
                   $('#7').css("background-color", "black");
                   $('#1, #2, #3, #5, #6, #4').css("background-color", "#6E3662");
               }
           });
       });
    </script>
}