<ul>
    <li>Limited places available: a maximum number of 40 teams can participate.</li>
    <li>Contestants can be part of only one team.</li>
    <li>Number of team members, including team leader: from 1 to 3.</li>
    <li>At the final stage, qualifying teams should present themselves in complete formula.</li>
</ul>