@{
    ViewBag.Title = "TellingYouMore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="aboutContent">
    <h1>About</h1>
        <p>
            &nbsp&nbsp&nbsp<b>“SmarTIntern”</b> is a competition organized by <b>ASAFF</b> (Asociatia Studentilor si Absolventilor Filierei Francofone) 
            in partnership with <b>Telmap Romania, an Intel Company </b><a href="http://global.telmap.com/">http://global.telmap.com/</a>. 
        </p>
        <p>
           &nbsp&nbsp&nbsp The contest is centered around an application for mobile devices that runs on Android or iOS. The app is 
           based on an API provided by Intel for Location Based Services from which the only boundary that contestants should consider is imagination.
        </p>
        <p>
            Contest structure:
            <ul>
                <li><b>Phase:</b> 4th April - 25th April (Teams register on the website and can start developing right away)</li>
                <li><b>Submission Phase:</b> 26th April - 8th May (Teams submit their applications. More details in “Tournament -> Rules” section)</li>
                <li><b>9th, 10th May</b>: Judging phase (Top 10 Applications will be chosen)</li>
                <li><b>11th May:</b> Final (Qualifying teams present their code in an interactive environment at Telmap Offices in Romania)</li>
            </ul>
        </p>
        <p>
            &nbsp&nbsp&nbsp In order to make it more accessible, besides the API, we will provide the participants with wrapper classes over the API
            for both iOS and Android, covering, as an example, a couple of requests. Links to these demo applications:
            <ul>
                <li><b>IOS</b></li>
                <li><b>Android</b></li>
            </ul>
        </p>
        <p>
             &nbsp&nbsp&nbsp Developers will be using the following Rest API: <a href="http://software.intel.com/en-us/articles/cloud-services-location-service-rest-api-reference">http://software.intel.com/en-us/articles/cloud-services-location-service-rest-api-reference</a>.
            Contestants can experiment with the API and find all the details they need here: <a href="http://software.intel.com/cloudservicesplatform/service/location-based-services">http://software.intel.com/cloudservicesplatform/service/location-based-services</a>.
            Registration to use the API is done here: <a href="http://software.intel.com/cloudservicesplatform/service/location-based-services">http://software.intel.com/cloudservicesplatform/service/location-based-services</a>
            Good Luck At Coding!
        </p>
</div>